<div class = "container">
  <div id = "new-post">
    <%= form_for @post do |f| %>
    <div class="row">
      <div class="form-group">
        <%= f.label 'What are you teaching about today?*', class: "col-xs-7"%>
        <%= f.text_field :title, class: "col-xs-6" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label " ", class: "col-xs-7" %><br>
        <%= f.bootsy_area :body, cols: "50", rows: "10", id: "field", class: "col-xs-6"%>
        <div id="charNum" class = "col-xs-12"></div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.submit 'Create Post', class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>